<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page_title}}</title>
  </head>
  <body>
    <h1>Fiche produit</h1>
    <p>Bienvenue {{user_name|upper}}</p>
    <h2>{{product.name}}</h2>

    <img
      src="{{product.image_url}}"
      width="250"
      alt="Image de {{product.name}}" />

    <p>{{product.description}}</p>

    <ul>
      <li>Prix : {{product.price}}</li>
    </ul>
  </body>
</html>
